{% extends "nav.html" %}

{% load bootstrap4 %}

{% bootstrap_messages %}

{% block subtitle %}日程列表{% endblock %}
{% block body_class %}agenda{% endblock %}
{% block mainblk %}
<div class="row">
  <div class="col-md-8">
      <table class="table table-bordered table-hover table-sm">
          <tr><th>事项</th><th>日期</th><th>操作</th></tr>
            {% for agenda in agendas %}
              <tr><td> {{ agenda.title }} </td><td>
                {% if agenda.repeat == 0 %} {{ agenda.date }} {% else %}
                  {% if agenda.week == 0 %}周一{% endif %}
                  {% if agenda.week == 1 %}周二{% endif %}
                  {% if agenda.week == 2 %}周三{% endif %}
                  {% if agenda.week == 3 %}周四{% endif %}
                  {% if agenda.week == 4 %}周五{% endif %}
                  {% if agenda.week == 5 %}周六{% endif %}
                  {% if agenda.week == 6 %}周日{% endif %}
                  （截止日期 {{ agenda.date }}）
                {% endif %}
                  </td>
                  <td><a href="{% url 'meeting:agenda_view' agenda.id %}">查看</a></td>
              </tr>
            {% endfor %}
      </table>
  </div>
</div>
{% endblock %}
{% block sidebar %}
<li><a href="{% url 'meeting:agenda_add' room_id %}">增加新日程</a>
{% endblock %}
