{% extends "nav.html" %}

{% load bootstrap4 %}

{% bootstrap_messages %}

{% block subtitle %}日程列表{% endblock %}
{% block body_class %}agenda{% endblock %}
{% block mainblk %}
<div class="row">
  <div class="col-md-8">
      <table class="table table-bordered table-hover table-sm">
          <tr><th>事项</th><th>日期</th></tr>
            {% for agenda in agendas %}
              <tr><td> {{ agenda.title }} </td><td> {{ agenda.strdate }} </td></tr>
            {% endfor %}
      </table>
  </div>
</div>
{% endblock %}
