{% extends "nav.html" %}

{% load wagtailcore_tags %}

{% block subtitle %}{{ page.title }}{% endblock %}
{% block body_class %}article{% endblock %}
{% block mainblk %}
<h4 class="text-center">{{ page.title }}</h4>
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#aaa" data-toggle="tab">课程基本情况</a></li>
    <li class="nav-item"><a class="nav-link" href="#bbb" data-toggle="tab">讲义资料</a></li>
    <li class="nav-item"><a class="nav-link" href="#ccc" data-toggle="tab">实验时段信息</a></li>
</ul>
<div class="tab-content" id="tabs">
    <div class="tab-pane active" id="aaa">
      <table width="100%" border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse">
         <tr><th width="15%">课程名称：</th><td width="80%">{{ page.name }}</td></tr>
         <tr><th>英文名称：</th><td>{{ page.ename }} </td></tr>
         <tr><th>课程编号：</th><td>{{ page.number }}</td></tr>
         <tr><th>主讲教师：</th><td>{{ page.teacher }}</td></tr>
         <tr><th>学分：</th><td>{{ page.unit }}</td></tr>
         <tr><th>学时：</th><td>{{ page.hours }}</td></tr>
         <tr><th>开课学期：</th><td> {{ page.terms }} </td></tr>
         <tr><th>课程大纲：</th><td>
        {{ page.body|richtext }}
        </td></tr>
      </table>
    </div>
    <div class="tab-pane" id="bbb">
        {% for item in page.handouts.all %}
        <a href="{{ item.handout.url }}">[{{ forloop.counter }}] {{ item.handout.title}}</a><br><br>
        {% endfor %}
    </div>
    <div class="tab-pane" id="ccc">
      <table width="100%" border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse">
          <tr><th width="60%">时段信息</th><th>人数上限</th><th>操作</th></tr>
        {% for item in page.group.all %}
        <tr><td>{{ item.info }}</td><td>{{ item.limit }}</td><td>
            {% if user.is_authenticated and user.username == 'Student' %}
              <a href="{% url 'course:joingroup' item.id %}">加入</a>
              <a href="{% url 'course:leavegroup' item.id %}">退出</a>
            {% endif %}
              <a href="{% url 'course:index' item.id %}">查看成员</a>
            </td> </tr>
        {% endfor %}
      </table>

    </div>
</div>
{% endblock %}

{% block sidebar %}
  <div class="card-header text-center">
     课程通知
  </div>
  <div class="card-body">
      {% for post in page.get_children.first.get_children.live.specific|dictsortreversed:"date"|slice:":5" %}
        <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
    {% endfor %}
    {% if page.get_children.live.first.get_children.live.count > 5 %}
        <a href="{% pageurl page.get_children.live.first %}">更多通知</a>
    {% endif %}
    {% if page.teaid == request.session.schoolid %}
       <ul class="text-right">
       <a class="badge badge-warning" href="{% url 'wagtailadmin_pages:add_subpage' page.get_children.first.id %}">新建通知</a>
       </ul>
    {% endif %}
  </div>
  <div class="card-header text-center">
      全部课程
  </div>
  <div class="card-body">
    {% for post in page.get_siblings %}
      <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
    {% endfor %}
  </div>
{% endblock %}
