{% extends "bootstrap.html" %}
{% load static %}

{% block title %}电子信息科学基础实验中心-{% block subtitle %}{% endblock %}{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mynav">
  <div class="d-lg-none align-top">
      <a class="navbar-brand" href="/">
        <img src="/media/logo-sm.png" alt="LOGO">
      </a>
      <h3 class="p-2 navbar-text text-light">电子信息科学<br>基础实验中心</h3>
  </div>
  <div class="d-none d-lg-block">
  <a id="logo" class="navbar-brand" href="/">
    <img src="/media/logo.png" alt="LOGO">
  </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="p-2 navbar-text text-light"> 欢迎 {{ request.session.realname }}</li>
        <a class="p-2 text-light" href="/logout/">登出</a>
      {% else %}
      <a class="p-2 text-light" href="{% static 'html/login.html' %}">登录</a>
      {% endif %}
        <a class="p-2 text-light" href="/search/">搜索</a>
    </div>
  </div>
</nav>
<div class="container py-1 mb-2 border-bottom box-shadow">
  <nav class="nav nav-pills d-flex justify-content-between">
    <a class="p-2 text-muted" href="/">中心首页</a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">中心简介</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/intro/1/">中心概况</a>
        <a class="dropdown-item" href="/intro/2/">组织结构</a>
        <a class="dropdown-item" href="/intro/3/">教学队伍</a>
        <a class="dropdown-item" href="/intro/4/">成果展示</a>
        <a class="dropdown-item" href="/intro/5/">对外交流</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">实验教学</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/course/">课程列表</a>
        <a class="dropdown-item" href="/intro/12/">中心实验室</a>
        <a class="dropdown-item" href="/intro/6/">课程体系</a>
        <a class="dropdown-item" href="/intro/7/">全部实验内容</a>
        <a class="dropdown-item" href="/intro/8/">电类课程</a>
        <a class="dropdown-item" href="/intro/9/">非电类课程</a>
        <a class="dropdown-item" href="/innovations/">创新园地</a>
      </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">教学资源</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/static/html/kejian/">精品课件</a>
            <a class="dropdown-item" href="/static/html/datasheet/">元器件手册</a>
            <a class="dropdown-item" href="/static/html/download/">常用工具下载</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">中心管理</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'meeting:index' %}">会议室预订</a>
            <a class="dropdown-item" href="/news/">全部新闻</a>
            <a class="dropdown-item" href="/book/">中心藏书</a>
            <a class="dropdown-item" href="/equip/">中心设备</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">规章制度</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/rules_c/">中心规章</a>
            <a class="dropdown-item" href="/rules_s/">院级规章</a>
            <a class="dropdown-item" href="/rules_u/">学校规章</a>
            <a class="dropdown-item" href="/laws/">国家法规</a>
        </div>
    </li>
    <a class="p-2 text-muted" href="/intro/100/">联系我们</a>
  </nav>
</div>
<main role="main" class="container">
  {% block jumbo %}
  <div class="row jumbotron p-3 p-md-5 text-dark rounded bg-white">
    <div class="d-none d-lg-block col-md-3 sidebar">
      {% block sidebar %}
      {% endblock %}
    </div>
    <div class="col-md-9 mainblk">
      {% block mainblk %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
</main>
<footer class="card-footer text-muted text-center">
    <p>&copy; 北京大学电子信息科学基础实验中心 2017-2018</p>
</footer>
{% endblock %}
