{% extends "bootstrap.html" %}

{% block title %}电子信息科学基础实验中心-{% block subtitle %}{% endblock %}{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block content %}

<div class="d-flex flex-column flex-md-row align-items-start p-3 px-md-4 mb-0 border-bottom box-shadow bg-dark mynav">
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="navbar-brand" href="/">
          <img src="/media/logo.png" alt="LOGO">
        </a>
        <a class="p-2 text-light" href="/">主页</a>
        <a class="p-2 text-light" href="/search/">搜索</a>
    </nav>
</div>
<div class="py-1 mb-2 border-bottom box-shadow">
  <nav class="nav nav-pills d-flex justify-content-between">
    <a class="p-2 text-muted" href="/">中心首页</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">中心简介</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/intro/1/">中心概况</a>
          <a class="dropdown-item" href="/intro/2/">组织结构</a>
          <a class="dropdown-item" href="/intro/3/">教学队伍</a>
          <a class="dropdown-item" href="/intro/4/">成果展示</a>
          <a class="dropdown-item" href="/intro/5/">对外交流</a>
        </div>
      </li>
    <a class="p-2 text-muted" href="#">实验教学</a>
    <a class="p-2 text-muted" href="#">教学资源</a>
    <a class="p-2 text-muted" href="#">实验室与设备</a>
    <a class="p-2 text-muted" href="#">中心管理</a>
    <a class="p-2 text-muted" href="#">规章制度</a>
    <a class="p-2 text-muted" href="#">课程讨论区</a>
    <a class="p-2 text-muted" href="#">联系我们</a>
  </nav>
</div>
<main role="main" class="container">
  <div class="row jumbotron p-3 p-md-5 text-dark rounded bg-white">
    <div class="col-md-3 sidebar">
      {% block sidebar %}
      {% endblock %}
    </div>
    <div class="col-md-9 mainblk">
      {% block mainblk %}
      {% endblock %}
    </div>
  </div>
</main>
<footer class="card-footer text-muted text-center">
    <p>&copy; 北京大学电子信息科学基础实验中心 2017-2018</p>
</footer>
{% endblock %}
