{% extends "nav.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block subtitle %}{{ page.title }}{% endblock %}
{% block body_class %}article{% endblock %}
{% block mainblk %}
<div class="text-center">
<h4> 书籍基本信息</h4>
</div>
<table width="100%" border="1" cellpadding="2" cellspacing="0" style="border-collapse: collapse">
     <tr><th width="10%" rowspan="4">封面</th><td rowspan="4"> {% image page.cover max-320x200 %} </td>
     <th width="15%">书名</th><td width="70%">{{ page.title}}</td></tr>
     <tr><th>作者</th><td>{{ page.author }} </td></tr>
     <tr><th>出版社</th><td>{{ page.pubhouse }}</td></tr>
     <tr><th>出版时间</th><td>{{ page.year }}</td></tr>
     <tr><th>目录</th><td colspan="3">
    {{ page.content|richtext }}
	</td></tr>
</table>
{% endblock %}

{% block sidebar %}
    {% for post in page.get_siblings %}
      <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
    {% endfor %}
{% endblock %}
