.mynav{
  background-image: url("/media/header.jpg");
  min-height: 100px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.mainblk b{
  font-size: 16px;
  color: #14117e;
}

.mainblk p{
  text-indent: 32px;
}

.mainblk h1{
  text-align: center;
}

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.mainblk th {
	text-align: center;
	font-size: 15px;
	line-height: 26px;
	color: #000000;
	background-color:#D7EBFF;
	font-weight: normal;
}

div.calendar {
    background-color: #DFDF00;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}

td.cal-header {
    background-color: #CFCFCF;
    width: 80px;
}

th.cal-row{
    height: 40px;
}
