.mynav{
  background-image: url("/media/header.jpg");
  min-height: 100px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.mainblk b{
  font-size: 16px;
  color: #14117e;
}

.mainblk p{
  text-indent: 32px;
}

.mainblk h1{
  text-align: center;
}

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
